<div class="container" *ngIf="!isSaveGameActive">
  <div class="row">
    <div class="col">
      <h1>Welcome to the Tainted Grails Tracker</h1>
      <p>We aim to make it easy for you to manage your campaigns and charaters. This app runs only locally in your browser. We do not save any game data on the server side.</p>
      <p>You load, update and save your progress. We will provide you with a save game file which you can share, transfer, backup by yourself.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upload save file</h5>
          <p class="card-text">Already have a save file? upload here to continue your journey.</p>
          <input type="file" id="saveFile" (change)="loadSaveFile($event)" />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New save file</h5>
          <p class="card-text">First time here? Create a new save file for your campaigns.</p>
          <a href="#" class="btn btn-primary" (click)="createSaveFile()">Create</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="isSaveGameActive">
  <app-campaign-list></app-campaign-list>
</ng-container>